{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content_title %}About me{% endblock %}

{% block content %}
    <p>I am a security consultant with a focus on IoT reversing, OSCP certified pentester, and maths student.
    </p>
    <p>I enjoy reverse engineering and exploiting binaries on different architectures and working on programming projects. In my spare time you'll find me reading, CTFing, or at my local CrossFit box. Currently working on my eLearnSecurity XDS and WAPT courses!
    </p>
    <p>You can find me on GitHub (link above) or Discord (search for me on HTB's server of InfoSec Prep's servers, I'm pretty active on both!
    </p>
{% endblock %}
