{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content_title %}About me{% endblock %}

{% block content %}
    <p>I am a security consultant with a focus on IoT reversing, OSCP certified pentester, and maths student.
    </p>
    <p>I enjoy reverse engineering and exploiting binaries on different architectures and working on programming projects. In my spare time you'll find me reading, CTFing, or at my local CrossFit box. Currently working on my eLearnSecurity XDS and WAPT courses!
    </p>
    <p>You can find me on <a href="https://github.com/arty-hlr">GitHub</a> or Discord (search for me on (<a href="https://discord.gg/JFMEruc">HTB</a>)'s server or <a href="https://discord.gg/6VuarVG">InfoSec Prep</a>'s servers, I'm pretty active on both!).
    </p>
    <p> I post sometimes on my CTF/HTB team's blog as well: <a href="https://ubghacking.github.io/">UBG</a>, do check us out!
    </p>
{% endblock %}
