{% extends "base.html" %}

{% block title %}About me{% endblock %}

{% block content_title %}About me{% endblock %}

{% block content %}
    <p>I am just a maths/CS student with a lot of interest in crypto, building things for myself (see my different projects), CTFs, information security in general, and how things work at a low level.
    </p>
    <p>I enjoy reverse engineering binaries and working on programming projects. In my spare time you'll find me reading or CTFing, mostly in the weekends though.
    </p>
{% endblock %}
